@font-face {
  font-family: "Pixeboy";
  src: url("https://cdn.glitch.com/80f5a65b-f7e3-4b40-b639-8e2c014de0ca%2FPixeboy-z8XGD.woff?v=1627885178361")
    format("woff");
}

h1 {
  font-family: "Pixeboy";
  font-size: x-large;
}

h2 {
  font-family: "Pixeboy";
  font-size: large;
}
